<% posts.each do |post| %>
    <div id="container2" class="clearfix col-md-10 col-md-offset-4 panel panel-body">
      <div class="icon2">
        <img class="media-object img-rounded " src="<%= gravatar_url(post.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="user-name2"><h4><%= link_to post.user.name, user_path(post.user) %></h4></div>
      <div class="post-content">
        <div class="picture2">
          <%= image_tag(post.picture_url) if post.picture.present? %>
        </div>
        <div class="panel2 panel-default">
          <div class="panel-heading">
            <p><%= post.title %></p>
            <% if current_user == post.user %>
              <p class="delete"><%= link_to "削除", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %></p>
            <% end %>
          </div>
          <div class="panel-body"><p><%= post.content %></p></div>
          <div class="button2">
            <p><%= render 'favorites/fav_button', post: post %></p>
          </div>
        </div>
      </div>
    </div>
<% end %>
<%= paginate posts %>
