<% posts.each do |post| %>
    <div id="container2" class="clearfix">
      <div class="post-content">
        <div class="picture">
          <%= image_tag(post.picture_url) if post.picture.present? %>
        </div>
        <div class="panel3 panel-default">
          <div class="panel-heading">
            <p><%= post.title %></p>
            <% if current_user == post.user %>
              <p class="delete"><%= link_to "削除", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %></p>
            <% end %>
          </div>
          <div class="panel-body"><p><%= post.content %></p></div>
          <div class="button2">
            <p><%= render 'favorites/fav_button', post: post %></p>
          
        </div>
        </div>
      </div>
    </div>
<% end %>
<%= paginate posts %>
